@import 'flipcard';

$main-background-color: white;
$header-and-footer: #e5ecea;
$bold-color: #003b6f;

body {
  background-color: $main-background-color;
  a {
    color: black;

    &:hover {
      color: $bold-color;
      cursor: pointer;
    }
  }
}

nav {
  background-color: $header-and-footer;
  color: black;
  .mobile-home-text {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  a {
    color: black;
    &:hover {
      color: $bold-color;
    }
  }
}

.table-of-contents a {
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 20px;

  &:hover,
  &.active {
    color: $bold-color;
    background-color: $header-and-footer;
    border-left: 4px solid $bold-color;
    padding-left: 6px;
  }
}

.myWideContainer {
  width: 90%;
}

#home {
  .title {
    margin: 1.5rem 0rem;
  }
  .intro-text {
    margin-top: 5rem;
  }
  a {
    text-decoration: underline;
  }
}
.divider {
  height: 10px;
  width: 200px;
  background-color: $bold-color;
  border-radius: 2px;
}

#projects {
}
